<div class="content">

  <p><img src="<%= @exhibit.photo %>" alt="<%= @exhibit.name %> photo"></p>

  <h2><%= @exhibit.name %></h2>
  <p>Dates: <%= @exhibit.run_start %> - <%= @exhibit.run_end %></p>
  <p>Room: <%= @exhibit.room %></p>
  <p>Category: <%= @exhibit.category %></p>
  <p>Recommended For: <%= @exhibit.visitor_type %></p>

  <p><%= @exhibit.blurb %></p>

</div>
