<div class="content">

  <p><img class="profile-photo" src="<%= @exhibit.photo %>" alt="<%= @exhibit.name %> photo"></p>

  <h1><%= @exhibit.name %></h1>
  <p><strong>Dates:</strong> <%= @exhibit.run_start %> - <%= @exhibit.run_end %> <br>
  <strong>Category:</strong> <%= @exhibit.category %> <br>
  <strong>Recommended For:</strong> <%= @exhibit.visitor_type %> <br>
  <strong>Room:</strong> <%= @exhibit.room %></p>

  <p><%= @exhibit.blurb %></p>

</div>
