<div class="staff">

  <h1>Gallery Management</h1>

  <div class="sidebar">
    <a href="/staff">Staff Home</a>
    <a href="#">Artists</a>
    <a href="/staff/artists/new">Add Artists</a>
    <a href="/staff/exhibits/">Exhibitions</a>
    <a href="/staff/exhibits/new">Add Exhibitions</a>
  </div>

  <h2>Artists</h2>

  <% @artists.each do |artist| %>
    <p><img src="<%= artist.photo %>" class="list-photo" alt="Artist photo"></p>
    <p><%= artist.name %></p>
    <p><%= artist.birth %> - <%= artist.death %></p>

    <form action="/staff/artist/<%= artist.id %>/delete" method="POST">
      <input type="submit" value="Delete Artist">
    </form>

    <form action="/staff/artist/<%= artist.id %>/update" method="GET">
      <input type="submit" value="Edit Artist">
    </form>
    <hr />
  <% end %>

</div>
