<div class="staff">

  <h1>Gallery Management</h1>

    <div class="sidebar">
      <a href="/staff">Staff Home</a>
      <a href="/staff/artists/">Artists</a>
      <a href="/staff/artists/new">Add Artists</a>
      <a href="#">Exhibitions</a>
      <a href="/staff/exhibits/new">Add Exhibitions</a>
    </div>

  <h2>Exhibitions</h2>

  <div class="flex-container">

    <div class="item">
      <% @exhibits.each do |exhibit| %>
        <p><img src="<%= exhibit.photo %>" class="list-photo" alt="exhibit photo"></p>
        <p><%= exhibit.name %></p>
        <p>Start: <%= exhibit.run_start %></p>
        <p>End: <%= exhibit.run_end %></p>
        <form action="/staff/exhibit/<%= exhibit.id %>/delete" method="POST">
          <input type="submit" value="Delete Artist">
        </form>

        <form action="/staff/exhibit/<%= exhibit.id %>/update" method="GET">
          <input type="submit" value="Edit Exhibit">
        </form>
        <hr />
      <% end %>
    </div>

  </div>

</div>
